name: remind

on:
  schedule:
    - cron: '*/5 * * * *'  # 每 5 分钟执行一次
  workflow_dispatch:  # 允许手动触发

jobs:
  reminder:
    runs-on: ubuntu-latest

    steps:
      # 检出仓库内容 仅拉取 remind.csv
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            remind.csv
          sparse-checkout-cone-mode: false

      # 设置时区为东八区
      - name: Set timezone to Asia/Shanghai
        run: |
          sudo timedatectl set-timezone Asia/Shanghai

      # 解析 CSV 文件
      - name: Parse CSV and Send reminders
        run: |
          # 安装必要的工具
          sudo apt-get install -y jq

          # 读取 CSV 文件内容
          while IFS=, read -r title content reminder_time status; do
            # 跳过标题行
            if [[ "$title" == "标题" ]]; then
              continue
            fi

            # 如果状态为 "已发送"，跳过当前提醒
            #if [[ "$status" == "已发送" ]]; then
            #  continue
            #fi
            
            # 获取当前时间的时间戳（假设系统时区已设置为东八区）
            current_time=$(date +"%Y-%m-%d %H:%M:%S")
            current_timestamp=$(date -d "$current_time" +%s)

            # 将提醒时间转换为时间戳
            reminder_timestamp=$(date -d "$reminder_time" +%s)

            # 计算时间差（单位：秒）
            time_diff=$((current_timestamp - reminder_timestamp))

            # 打印调试信息
            echo "Reminder time (Local): $reminder_time"
            echo "Current time (Local): $current_time"
            echo "Reminder time (Timestamp): $reminder_timestamp"
            echo "Current time (Timestamp): $current_timestamp"
            echo "Time difference (seconds): $time_diff"
            echo "Status $status"

            # 检查提醒时间是否到了
            if [[ "$reminder_timestamp" -le "$current_timestamp" && "$time_diff" -le 3600 ]]; then
              # 发送提醒消息的接口调用
              echo "Sending message: title = $title, content = $content"
              curl -X GET "https://nodered.glwsq.cn/weixin2?token=xuiidfcpgi&group=true&content=$(echo -e "${title}\n${content}" | sed 's/^[[:space:]]*\n//g' | jq -sRr @uri)"
              echo "$title,$content,$reminder_time,已发送" >> updated_remind.csv
            else
              echo "$title,$content,$reminder_time,$status" >> updated_remind.csv
            fi
          done < "remind.csv"  # CSV 文件路径

      # 修改发送状态
      - name: Update Send Status to File
        run: |
          sed -i '1i标题,内容,提醒时间,状态' updated_remind.csv
          mv updated_remind.csv remind.csv

      # 修改状态后的文件提交到仓库
      - name: Commit remind.csv File
        uses: stefanzweifel/git-auto-commit-action@v5
        with: 
          commit_message: Update remind.csv Send Status
